@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .subtle-shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  color: #18181b;
  font-family: Arial, sans-serif;
}
